.academy-info {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 34px;
    justify-content: space-between;
  }
}

.academy-info__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.academy-info__copyright {
  font-family: $usual-font;
  font-size: 16px;
  line-height: 18px;
  color: $color_special_dark-grey;
}

.academy-info__logo {
  width: 41px;
  height: 41px;
  margin: 0;
  padding: 0;
}

.academy-info__icon {
  width: 53px;
  height: 40px;
  fill: $color_special_grey-2;
}

