.academy-info {
  // --
}

.academy-info__link {
  font-family: $usual-font;
  font-size: 16px;
  line-height: 18px;
  color: $color_special_dark-grey;
  text-decoration: none;
}

.academy-info__logo {
  // --
}
