.contacts {
  //
  &--white {
    background-color: $color_basic_white;
  }

  &--gray {
    background-color: $color_basic_grey;
  }
  margin: 0 auto;
}

.contacts__info-wrapper {
  padding-left: 19px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 54px;
    padding-right: 54px;
    margin: 0 auto;
    max-width: 1220px;
    height: 201px;
  }
}

.contacts__info {
  display: flex;
  align-items: center;

  height: 114px;

  @media (min-width: $tablet-width) {
    height: 201px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    left: 0;
    width: 570px;
    height: 201px;
    padding-left: 76px;
    padding-right: 89px;
    background-color: $color_basic_white;
  }
}

.contacts__vacancy {
  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color_black_light;
  width: 125px;
  margin: 0 15px 0 0;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.contacts__address {
  font-family: $usual-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-right: 72px;
    text-align: right;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    text-align: left;
  }
}

.contacts__map {
  height: 362px;
  min-width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -201px;
  }
}

.contacts__new-line {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
