.contacts {
  //
}

.contacts__info {
  //
}

.contacts__vacancy {
  font-family: $special-font;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: $usual-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
}

.contacts__map {
  //
}
