.example {
  //
}

.example__wrapper {
  //
}

.example__column {
  //
}

.example__title {
  font-family: $special-font;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  color: black;

  margin: 0;
  padding: 0;
}

.example__text {
  margin: 0;
  padding: 0;
}

.example__table {
  //
}

.example__key {
  font-family: $usual-font;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;

  &--bold {
    font-family: $special-font;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    color: black;
  }
}

.example__value {
  font-family: $special-font;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: black;

  &--bold {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.example__slider {
  //
}
