.example {
  // @include color-outline (3px, springgreen);
  background-color: $color_special_grey-6;

  position: relative;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $color_special_grey-3;
    // background-color: $color_basic_white;
    background-image: linear-gradient(to bottom, $color_basic_white 57.34%, $color_special_grey-6 42.66%);
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    background-color: unset;
    background-image: linear-gradient(to bottom, $color_basic_white 0 29.57%, $color_special_grey-6 29.57% 70.43%);
  }
}

.example__container {
  // padding: 0 20px;
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  @include color-outline (3px,  cyan);
  margin: 0 auto 25px auto;


  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;

    &::before {
      content: "";
      width: 100%;
      height: 462px;
      display: block;
      position: absolute;

      top: 619px;
      left: 0;

      background-color: $color_basic_grey;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
    display: flex;
    justify-content: space-between;

    &::before {
      top: 194px;
    }
  }
}

.example__column {
  &--left {
    padding: 0 20px;
    margin: 0 0 34px 0;

    @media (min-width: $tablet-width) {
      padding: 0;
      margin: 0 0 59px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 656px;
    margin: 0;
  }
}

.example__title {
  font-family: $special-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: $color_black;
  margin-top: 27px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0 0 25px 0;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    font-size: 16px;
    line-height: 24px;
    width: 436px;
  }
}

.example__table {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    width: 366px;
  }
}

.example__key {
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;

  &:not(&--total) {
    margin-top: 9px;
    margin-left: 11.92%;
    margin-right: 14.92%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 70.16%;
    background-color: $color_special_grey-6;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
      margin-left: 18px;
      margin-right: 18px;
      margin-top: 10px;
      margin-bottom: 0;
      padding-left: 8px;
      padding-right: 7px;
      width: fit-content;
      white-space: nowrap;

      background-color: $color_basic_white;
    }

    @media (min-width: $desktop-width) {
      background-color: $color_basic_grey;
    }
  }

  &--total {
    font-family: $special-font;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-right: 5px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 63px;
    }
  }
}

.example__value {
  margin: 0;
  box-sizing: border-box;

  font-family: $special-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;


  &:not(&--total) {
    order: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  &--total {
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.example__slider {
  margin: 0 auto;
}
