.form {
  //
}

.form__title {
  font-family: $special-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: black;
}

.form__body {
  //
}

.form__set {
  // margin: 0;
  // padding: 0;
  border: none;
}

.form__comment {
  //
}

.form__button {
  //
}

.form__required-text {
  font-size: 14px;
  line-height: 16px;
}
