.form {
  //
}

.form__title {
  font-family: $special-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color_black;
}

.form__body {
  //
}

.form__set {
  border: none;
}

.form__comment {
  //
}

.form__button {
  //
}

.form__required-text {
  font-size: 14px;
  line-height: 16px;
}
