.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0px;
    padding-right: 0;
    padding-top: 53px;
    padding-bottom: 0;
    max-width: 1220px;
  }
  @include color-outline(1px, fuchsia);
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 18px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 30px;
    align-items: flex-start;
  }

  @include color-outline(2px, lime);
}
.page-header__logo {
  margin-right: auto;
  // @include color-outline(2px, red);
}
