.page-footer {
  @include color-outline (2px, red);
  margin: 0 auto;
}

.page-footer__links-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  background-color: $color_basic_grey;
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;

  border-bottom: 2px solid $color_special_grey-4;
  background-color: orange;
}

.page-footer__list {
  //
}

.page-footer__developer {
  //
}
