.page {
  height: 100%;
  font-family: $usual-font;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $color_special_dark-grey;
  background-color: $color_basic_white;
  // background-color: lightsteelblue;
}
