.photo {
  display: block;
  margin: 0 auto;

  &--before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    // display: none;
  }

  &--after {
    display: none;
    // display: block;
  }

  &--active {
    //
  }
}
