.product-card {
  border-bottom: 1px solid $color_basic_grey-2;

  @media (min-width: $tablet-width) {
    border: none;
    box-sizing: border-box;
    height: 511px;

    position: relative;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 430px;
      position: absolute;
      top: 81px;
      left: 0;
      z-index: -1;
      background-color: $color_basic_grey;
    }

    &:last-child {
      &::before {
        box-sizing: border-box;
        border: 2px solid $color_basic_grey;
        background-color: transparent;
      }
    }
  }
}

.product-card__container {
  padding-top: 19px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 40px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.product-card__wrapper {
  //
}

.product-card__all-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.product-card__picture-wrapper {
  width: 50%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.product-card__picture {
  // временно
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 202px;
  }
}

.product-card__description {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    text-align: center;
  }
}

.product-card__title {
  font-family: $special-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color_special_dark-grey-2;

  margin: 0 0 18px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 14px;
  }
}

.product-card__table {
  //
}

.product-card__link {
  margin: 0;
}

.product-card__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card__new-line--hide {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-card__new-line--show {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product-card:last-child {
  & .product-card__all-info-container {
    flex-direction: column;
    margin-bottom: 21px;
  }

  & .product-card__description,
  & .product-card__picture-wrapper {
    width: 100%;
    text-align: center;
  }

  & .product-card__title {
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-top: 53px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -53px;
      left: calc(50% - 15px);
      width: 30px;
      height: 30px;
      background-color: yellow;
    }
  }

  @media (min-width: $tablet-width) {
    & .product-card__container {
      padding-top: 242px;
    }

    & .product-card__all-info-container {
      margin-bottom: 87px;
    }

    & .product-card__picture-wrapper {
      margin: 0;
    }

    & .product-card__title {
      line-height: 22px;
      margin-bottom: 23px;
      margin-top: 0;
      padding: 0;

      &::before {
        width: 60px;
        height: 60px;
        top: -114px;
        left: calc(50% - 30px);
      }
    }
  }

  @media (min-width: $desktop-width) {
    & .product-card__new-line--show:last-child {
      display: none;
    }
  }
}
