.promo {
  margin-bottom: 20px;
}

.promo__wrapper {
  //
}

.promo__slogan {
  color: $basic_white;
  font-family: $special-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  text-transform: uppercase;

  padding-top: 4px;
  text-align: center;
}

.promo__picture {
  display: block;
}

.promo__button {
  //
}
