.sideline {
  //
}

.sideline__wrapper {
  //
}

.sideline__title {
  font-family: $special-font;
  font-size: 24px;
  line-height: 24px;
  color: $color_black;
}

.sideline__column-products {
  //
}

.sideline__list {
  list-style: none;
}

.sideline__item {
  //
}

.sideline__column-offer {
  //
}
