.sideline {
  //
}

.sideline__container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 54px;
    padding-left: 54px;
    padding-bottom: 86px;
  }
}

.sideline__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.sideline__product-link {
  //
}

.sideline__title-wrapper {
  padding: 28px 0  35px 0;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 45px;
    border-top: 2px solid $color_basic_green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding: 68px 0 80px 0;

    &::before {
      top: 91px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 81px 0;

    &::before {
      top: 101px;
    }
  }
}

.sideline__title {
  // @include color-outline (5px, plum);
  font-family: $special-font;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  color: $color_black;
  text-align: left;

  width: fit-content;
  margin: 0;
  padding: 0 22px 0 19px;
  background-color: $color_basic_white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    padding: 0 36px 0 37px;
    margin: 0 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px 0 40px;
    margin: 0 0 0 110px;
  }
}

.sideline__body-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.sideline__column-products {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 896px;
  }
}

.sideline__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sideline__item {
  //
}

.sideline__column-offer {
  //
}

.sideline__new-line {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
