.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  font-family: $special-font;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;

  &--active {
    //
  }
}
