.slider {
  //
}

.slider__photo {
  //
}

.slider__column {
  //
}

.slider__control {
  //
}

.slider__button {
  font-family: $special-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color_black;

  border: none;
  background-color: transparent;
}

.slider__scale {
  //
}

.slider__bar {
  //
}
