.social-list {
  width: 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  // border-bottom: 2px solid $color_special_grey-4;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    height: 33px;
    width: 129px;
    justify-content: space-between;
  }
}

.social-list__item {
  @include color-outline(1px, lime);
  width: 23px;
  height: 23px;

  @media (min-width: $tablet-width) {
    height: 33px;
    width: 30px;
    margin-right: 0;
  }
}

.social-list__link {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    fill: $color_special_grey-2;
    display: block;
  }

  &--vk {
    width: 23px;
    height: 23px;
    @include color-outline (1px, red);

  }

  &--instagram {
    width: 23px;
    height: 23px;
    @include color-outline (1px, red);
  }

  &--facebook {
    width: 23px;
    height: 23px;
    @include color-outline (1px, red);
  }
}



