@mixin container {
  // min-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

@mixin color-outline( $width: 2px, $color: red, $style: solid) {
  outline-color: fade-out($color, 0.5);
  // outline-color: $color;
  outline-style: $style;
  outline-width: $width;
  outline-offset: -$width;
}

@mixin form-text {
  font-family: $special-font;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

@mixin form-title {
  font-family: $special-font;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  color: black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
